<!-- -*- mode: XML -*- -->

<launch>
  <!-- 启动Dynamixel电机控制器管理器 -->
  <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py"
  required="true" output="screen">
    <rosparam>
      namespace: dxl_manager
      serial_ports:
        arm_port:
          port_name: "/dev/ttyUSB0"
          baud_rate: 1000000
          min_motor_id: 1
          max_motor_id: 5
          update_rate: 20
    </rosparam>
  </node>

  <!-- 五个电机的控制器配置 -->
  <rosparam>
    motor1_controller:
      controller:
        package: dynamixel_controllers
        module: joint_position_controller
        type: JointPositionController
      joint_name: motor1_joint
      joint_speed: 1.0
      motor:
        id: 1
        init: 512
        min: 0
        max: 1023

    motor2_controller:
      controller:
        package: dynamixel_controllers
        module: joint_position_controller
        type: JointPositionController
      joint_name: motor2_joint
      joint_speed: 1.0
      motor:
        id: 2
        init: 512
        min: 0
        max: 1023

    motor3_controller:
      controller:
        package: dynamixel_controllers
        module: joint_position_controller
        type: JointPositionController
      joint_name: motor3_joint
      joint_speed: 1.0
      motor:
        id: 3
        init: 512
        min: 0
        max: 1023

    motor4_controller:
      controller:
        package: dynamixel_controllers
        module: joint_position_controller
        type: JointPositionController
      joint_name: motor4_joint
      joint_speed: 1.0
      motor:
        id: 4
        init: 512
        min: 0
        max: 1023

    motor5_controller:
      controller:
        package: dynamixel_controllers
        module: joint_position_controller
        type: JointPositionController
      joint_name: motor5_joint
      joint_speed: 1.0
      motor:
        id: 5
        init: 512
        min: 0
        max: 1023
  </rosparam>
  
  <!-- 启动5个电机的位置控制器 -->
  <node name="controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
        args="--manager=dxl_manager
              --port=arm_port
              motor1_controller
              motor2_controller
              motor3_controller
              motor4_controller
              motor5_controller"
        output="screen"/>
</launch>